server {
    listen 80;
    server_name nabaat.fiust.ir www.nabaat.fiust.ir;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name nabaat.fiust.ir www.nabaat.fiust.ir;

    ssl_certificate /etc/nginx/ssl/fiust.ir.crt;
    ssl_certificate_key /etc/nginx/ssl/fiust.ir.key;

    location /api/v1/static/ {
        alias /var/www/nabaat/static/;
    }

    location /api/v1/media/ {
        alias /var/www/nabaat/media/;
    }

    location /api/v1/ {
        proxy_pass http://localhost:8020;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location / {
        proxy_pass http://localhost:3020;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}